@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "JetBrains Mono", monospace;
  }
}

:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 255, 175, 0.8);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e5e7eb;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background: #e5e7eb;
  cursor: pointer;
}

input[type="range"]:active::-webkit-slider-thumb {
  border: 2px solid #a4ffa7;
  background: #0f0e14;
}

input[type="range"]:active::-moz-range-thumb {
  border: 2px solid #a4ffa7;
  background: #0f0e14;
}

/* input[type="range"]::-webkit-slider-runnable-track {
  background-color: red;
} */
